body {
    background-color: #f1f1ee;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus
.navbar-item:focus,
.navbar-item:active
{
    outline: none !important;
    box-shadow: none !important;
}

.navbar {
    background-color: #f1f1eec0;
    backdrop-filter: blur(3px);
    border-bottom: 1px solid #dfdfdc;
}

.navbar-item {
    color: #5F4027;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.navbar-brand {
    color: #5F4027;
    font-family: 'Prata', serif;
    line-height: 0.9;
}

.bg {
    background-color: #f1f1ee;
    height: 100vh;
}

/* --- Home --- */
.header-content {
    height: 100vh;
    width: 100vw;
    background-image: url("/public/bg01.jpeg");
    background-position: 35% 50%;

    background-color: rgba(57, 57, 57, 0.288);
    background-blend-mode: overlay;

    background-size: cover;
}

.header-content .title {
    font-size: 48px;
    line-height: 1.2;
    color: #F1F1EE;
    font-family: 'Prata', serif;
}

.header-content .short-text {
    font-size: 14px;
    letter-spacing: 1.5px;
    line-height: 1.2;
    color: #F1F1EE;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;

}

.header-content .cta-btn {
    color: #F1F1EE;
    background-color: #5F4027;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.6px;
}

.header-content .cta-btn:hover {
    color: #F1F1EE;
    background-color: #412b19;
}

.header-content {
    font-family: 'Prata', serif;
    color: #5F4027;
}

/* --- Product Listing Page --- */
.page-container {
    margin-top: 100px;
    padding: 0 30px;
}

.page-header {
    background-color: #dfdfdcc2;
}

.page-header .b-crumb li,
.page-header-2 .b-crumb li {
    color: #5F4027;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    letter-spacing: 1.2px;
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.8;
}

.page-title {
    color: #5F4027;
    font-family: 'Prata', serif;
    font-size: 25px;
    letter-spacing: 0.6px;
}

.page-subtitle {
    color: #5F4027;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 0.4px;
    font-weight: 300;
}

.filter-btn span,
.filter-btn i {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.4px;
    color: #5F4027;
}

/* .filter-btn {
    border: 1px solid #5F4027;
} */


/* .page-body {
    margin-top: 40px;
} */

.product-title {
    font-family: 'Prata', serif;
    letter-spacing: 0.5px;
    font-size: 16px;
    color: #5F4027;
}

.product-title span {
    font-family: 'Prata', serif;
    letter-spacing: 0.5px;
    font-size: 14px;
    color: #5F4027;
}

.product-title .small-text {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    font-size: 14px;
    color: #5F4027;
    font-weight: 300;
}

.addtocart-btn {
    border: 1px solid #5F4027;
    color: #5F4027;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.6px;
    font-size: 14px;
    font-weight: 300;
}

.addtocart-btn:hover {
    border: 1px solid #5F4027;
    color: #F1F1EE;
    background-color: #5F4027;
}

.search,
.search .search-box,
.search select,
.search select option,
.search .accordion-header,
.accordion-button,
.search .accordion-button,
.search .accordion-body,
input,
input::-webkit-input-placeholder
{
    color: #5F4027 !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px !important;
    letter-spacing: 0.4px;
    font-weight: 300;
}

.accordion-button::after,
.search .accordion-button::after {
    background-image: url("/public/chevron-down.svg") !important;
    opacity: 0.5;
}

.search select,
.search .input-box,
input
{
    border: 1px solid #5f402743 !important;
}

.accordion button,
.accordion button:active,
.accordion button:focus {
    border-bottom: 1px solid #5f402743;
    background: none !important;
    outline: 0px !important;
    box-shadow: none !important;
}

.accordion-item,
.accordion-header,
.accordion-body {
    background: none !important;
    border: none !important;
    outline: 0px !important;
    box-shadow: none !important;
}

input:focus,
input:hover,
input:active,
button:active,
button:focus,
.accordion:focus,
.accordion:active,
.accordion:hover,
select:focus
{
    outline: 0px !important;
    box-shadow: none !important;
}

input.form-check-input:checked{
    background-color: #5F4027 !important;
}

.search-btn-pri,
.signin-btn,
.checkout-btn,
.shop-btn
{
    border: 1px solid #5F4027;
    background-color: #5F4027;
    color: #F1F1EE;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.8px;
    font-size: 14px;
    font-weight: 300;
}

.search-btn-pri:hover,
.signin-btn:hover,
.shop-btn:hover {
    border: 1px solid #412b19;
    background-color: #412b19;
    color: #F1F1EE;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.8px;
    font-size: 14px;
    font-weight: 300;
}

.search-btn-sec {
    border: 1px solid #5F4027;
    color: #5F4027;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.6px;
    font-size: 14px;
    font-weight: 300;
}

/* --- Sign In / Register / Profile Page --- */
.page-title-large {
    color: #5F4027;
    font-family: 'Prata', serif;
    font-size: 40px;
    letter-spacing: 0.6px;
}

.form-input {
    height: 43px;
}

.profile-section .section-title {
    color: #5F4027;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    letter-spacing: 1.2px;
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.8;
}

.profile-section .body-text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300px;
    letter-spacing: 0.4px;
    color: #5F4027;
}

.profile-section .profile-details-name {
    color: #5F4027;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    letter-spacing: 0.4px;
    font-weight: 500px;
}

.profile-section .profile-details {
    color: #5F4027;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 0.8px;
    font-weight: 300;
}

/* -- Individual Product Page -- */
.page-header-2 {
    /* background-color: #dfdfdcc2; */
    border-bottom: 1px solid #dfdfdcc2;
    /* border-top: 1px solid #dfdfdcc2; */
}

.product .header-text {
    font-family: 'Prata', serif;
    letter-spacing: 0.5px;
    font-size: 30px;
    color: #5F4027;
}

.product .header-small {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    font-size: 20px;
    color: #5F4027;
    font-weight: 300;
}

.product .subheader-text {
    font-family: 'Prata', serif;
    font-size: 20px;
    color: #5F4027;
}

.product .body-text {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300px;
    letter-spacing: 0.4px;
    color: #5F4027;
}

.product-info {
    background-color: #dfdfdcc2;
}

.description {
    border-top: 1px solid #dfdfdcc2;
}

.accordion-body .body-text {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300px;
    letter-spacing: 0.4px;
    color: #5F4027;
}

.accordion-header,
.accordion-button {
    font-family: 'Prata', serif;
    font-size: 17px;
    letter-spacing: 0.4px;
    color: #5F4027;
}

/* -- Shopping Cart Page -- */
.cart .cart-heading,
.cart .order-section {
    background-color: #dfdfdc6e;
}

.section-title {
    color: #5F4027;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    /* text-transform: uppercase; */
}

.order-section span {
    color: #5F4027;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 0.4px;
    font-weight: 300;
}

.order-section .order-total {
    color: #5F4027;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 0.4px;
    font-weight: 300;
}

.order-list {
    border-bottom: 1px solid #5f402719;
}

.order-section .order-total {
    color: #5F4027;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    letter-spacing: 0.4px;
    font-weight: 500;
}

.cart .table-header {
    color: #5F4027;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
}

.cart-body .item-title {
    font-family: 'Prata', serif;
    letter-spacing: 0.5px;
    font-size: 16px;
    color: #5F4027;
}

.cart-body .item-subtitle {
    color: #5F4027;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 0.4px;
    font-weight: 300;
}

.cart-body .item-body {
    color: #5F4027;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
}

.cart-body .qty-box {
    border: 1px solid #5f402743;
}

.cart-message {
    color: #5F4027;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    letter-spacing: 0.4px;
    font-weight: 300;
}

.cart-toast {
    background-color: #f1f1ee;
    color: #5F4027;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    letter-spacing: 0.4px;
    /* font-weight: 300; */
}


/* --- Media Query --- */
@media screen and (min-width: 768px) {
    .header-content .short-text {
        background-position: 10% 90%;
    }
  }
