body {
    background-color: #EFEEEB;
    box-sizing: border-box;
    overflow-x: hidden;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.navbar-item:focus,
.navbar-item:active
{
    outline: none !important;
    box-shadow: none !important;
}

.navbar {
    border-top: 8px solid #28411F;
    padding: 24px 0;
}

.navbar.show-menu {
    /* background-color: #EFEEEB; */
    background-color: #3B353080;
}

.navbar .bg-solid {
    background-color: #EFEEEB;
}

.navbar.colour {
    background-color: #EFEEEB;
}

.navbar-toggler {
    color: #3B3530;
}

.navbar-item {
    padding: 0;
    /* color: #FFFFFF; */
    color: #3B3530;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.navbar-item.mobile {
    color: #3B3530;
}

.navbar-item-container {
    min-width: 130px;
    display: flex;
    justify-content: center;
}

.navbar-item > span {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1.68px;
}

.navbar-brand {
    padding: 0;
    margin: 0;
    height: 22px;
    color: #3B3530;
    font-family: 'Prata', serif;
    font-size: 22px;
    line-height: 1;
    letter-spacing: 0.84px;
}

.navbar-brand:hover {
    color: inherit;
    cursor: pointer;
}

.mobile-menu-item {
    border-bottom: 1px solid #A39A8A40;
}

.mobile-menu-item .greeting-text {
    font-family: 'Prata', serif;
    font-size: 17px;
    letter-spacing: 0.8px;
    color: #3B3530;
}

.bg {
    background-color: #EFEEEB;
    height: 100vh;
}

/* --- Home --- */
.header-content {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(#4D402580, #4D402540, transparent 70%), url("/public/bg01.jpeg");
    background-position: 50% 68%;
    /* background-blend-mode: overlay; */
    background-size: cover;
}

.header-content .title {
    font-size: 46px;
    line-height: 1.2;
    color: #F1F1EE;
    font-family: 'Prata', serif;
}

.header-content .short-text {
    font-size: 16px !important;
    letter-spacing: 0.4px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.header-content .cta {
    max-width: 320px;
}

.header-content .cta-btn {
    color: #F1F1EE;
    background-color: #5F4027;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.6px;
}

.header-content .cta-btn:hover {
    color: #F1F1EE;
    background-color: #412b19;
}

.header-content {
    font-family: 'Prata', serif;
    color: #5F4027;
}

.section-content {
    width: 88%;
    margin: 60px auto !important;
}

.section .section-title {
    font-size: 24px;
    letter-spacing: 0.4px;
    color: #3B3530;
    font-family: 'Prata', serif;
}

.section .section-subtitle {
    font-size: 16px !important;
    font-weight: 300 !important;
    letter-spacing: 0.4px !important;
    color: #3B3530;
    font-family: 'Poppins', sans-serif;
}

.card {
    border: none;
    background-color: #E7E4DE;
}

.card-body {
    padding: 40px 40px;
    color: #3B3530;
}

.card-body > div > p.card-label {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 1.68px;
}

.card-body.header {
    height: 200px;
    max-height: 200px;
    background-size: 130%;
    background-position: 0% 56%;
}

.card-body > p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.4px;
}

.card-footer {
    padding: 0px 40px 40px;
}

.card-title {
    font-family: 'Prata', serif;
}

/* --- Product Listing Page --- */
.page-container {
    margin-top: 100px;
    padding: 0 30px;
}

.page-header {
    background-color: #dfdfdcc2;
}

.page-header .b-crumb li,
.page-header-2 .b-crumb li {
    color: #5F4027;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    letter-spacing: 1.2px;
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.8;
}

.page-title {
    color: #5F4027;
    font-family: 'Prata', serif;
    font-size: 25px;
    letter-spacing: 0.6px;
}

.page-subtitle {
    color: #5F4027;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 0.4px;
    font-weight: 300;
}

.filter-btn span,
.filter-btn i {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.4px;
    color: #5F4027;
}

/* .filter-btn {
    border: 1px solid #5F4027;
} */


/* .page-body {
    margin-top: 40px;
} */

.product-title {
    font-family: 'Prata', serif;
    letter-spacing: 0.5px;
    font-size: 16px;
    color: #5F4027;
}

.product-title span {
    font-family: 'Prata', serif;
    letter-spacing: 0.5px;
    font-size: 14px;
    color: #5F4027;
}

.product-title .small-text {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    font-size: 14px;
    color: #5F4027;
    font-weight: 300;
}

.addtocart-btn,
.card-btn {
    border: 1px solid #3B3530;
    color: #3B3530;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.2px;
    font-size: 13px;
    font-weight: 400;
    padding: 16px 35px;
    background-color: none;
}

.addtocart-btn:hover,
.card-btn:hover {
    border: 1px solid #3B3530;
    color: #FFFFFF;
    background-color: #3B3530;
}

.search,
.search .search-box,
.search select,
.search select option,
.search .accordion-header,
.accordion-button,
.search .accordion-button,
.search .accordion-body,
input,
input::-webkit-input-placeholder
{
    color: #5F4027 !important;
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px !important;
    letter-spacing: 0.4px;
    font-weight: 300;
}

.accordion-button::after,
.search .accordion-button::after {
    background-image: url("/public/chevron-down.svg") !important;
    opacity: 0.5;
}

.search select,
.search .input-box,
input
{
    border: 1px solid #5f402743 !important;
}

.accordion button,
.accordion button:active,
.accordion button:focus {
    border-bottom: 1px solid #5f402743;
    background: none !important;
    outline: 0px !important;
    box-shadow: none !important;
}

.accordion-item,
.accordion-header,
.accordion-body {
    background: none !important;
    border: none !important;
    outline: 0px !important;
    box-shadow: none !important;
}

input:focus,
input:hover,
input:active,
button:active,
button:focus,
.accordion:focus,
.accordion:active,
.accordion:hover,
select:focus
{
    outline: 0px !important;
    box-shadow: none !important;
}

input.form-check-input:checked{
    background-color: #5F4027 !important;
}

.search-btn-pri,
.signin-btn,
.checkout-btn,
.shop-btn
{
    background-color: #28411F;
    border: none;
    color: #F1F1EE;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.2px;
    font-size: 13px;
    font-weight: 600;
    padding: 16px 50px;
    border-radius: 2px;
}

.search-btn-pri:hover,
.signin-btn:hover,
.shop-btn:hover,
.checkout-btn:hover {
    background-color: #22371A;
    color: #F1F1EE;
}

.search-btn-sec {
    border: 1px solid #5F4027;
    color: #5F4027;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.6px;
    font-size: 14px;
    font-weight: 300;
}

.mobilelogin-btn {
    background-color: #28411F;
    border: none;
    color: #F1F1EE;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.2px;
    font-size: 14px;
    font-weight: 600;
    padding: 16px 50px;
    border-radius: 2px;
}

/* --- Sign In / Register / Profile Page --- */
.login-page.bg,
.login.header-content {
    height: fit-content;
}

.page-overlay {
    height: inherit;
    width: -webkit-fill-available;
    background-color: #26221f50;
    backdrop-filter: blur(2px);
}

.header-content .cta.login {
    margin-top: 90px;
    margin-bottom: 60px;
    max-width: 400px;
    height: fit-content;
    padding: 40px 48px 48px;
    background-color: #EFEEEB;
}

.page-title-large {
    color: #5F4027;
    font-family: 'Prata', serif;
    font-size: 24px;
    letter-spacing: 0.6px;
}

.form-input {
    height: 43px;
}

.form-input.error {
    height: 43px;
    border: 1px solid #E91630 !important;
}

.form-error {
    color: #E91630;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    letter-spacing: 0.4px;
    font-weight: 300;
}

.profile-section .section-title {
    color: #5F4027;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    letter-spacing: 1.2px;
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.8;
}

.profile-section .body-text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300px;
    letter-spacing: 0.4px;
    color: #5F4027;
}

.profile-section .profile-details-name {
    color: #5F4027;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    letter-spacing: 0.4px;
    font-weight: 500px;
}

.profile-section .profile-details {
    color: #5F4027;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 0.8px;
    font-weight: 300;
}

/* -- Individual Product Page -- */
.page-header-2 {
    /* background-color: #dfdfdcc2; */
    border-bottom: 1px solid #dfdfdcc2;
    /* border-top: 1px solid #dfdfdcc2; */
}

.product .header-text {
    font-family: 'Prata', serif;
    letter-spacing: 0.5px;
    font-size: 30px;
    color: #5F4027;
}

.product .header-small {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    font-size: 20px;
    color: #5F4027;
    font-weight: 300;
}

.product .subheader-text {
    font-family: 'Prata', serif;
    font-size: 20px;
    color: #5F4027;
}

.product .body-text {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300px;
    letter-spacing: 0.4px;
    color: #5F4027;
}

.product-info {
    background-color: #dfdfdcc2;
}

.description {
    border-top: 1px solid #dfdfdcc2;
}

.accordion-body .body-text {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 300px;
    letter-spacing: 0.4px;
    color: #5F4027;
}

.accordion-header,
.accordion-button {
    font-family: 'Prata', serif;
    font-size: 17px;
    letter-spacing: 0.4px;
    color: #5F4027;
}

/* -- Shopping Cart Page -- */
.cart .cart-heading,
.cart .order-section {
    background-color: #dfdfdc6e;
}

.section-title {
    color: #5F4027;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    /* text-transform: uppercase; */
}

.order-section span {
    color: #5F4027;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 0.4px;
    font-weight: 300;
}

.order-section .order-total {
    color: #5F4027;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 0.4px;
    font-weight: 300;
}

.order-list {
    border-bottom: 1px solid #5f402719;
}

.order-section .order-total {
    color: #5F4027;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    letter-spacing: 0.4px;
    font-weight: 500;
}

.cart .table-header {
    color: #5F4027;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
}

.cart-body .item-title {
    font-family: 'Prata', serif;
    letter-spacing: 0.5px;
    font-size: 16px;
    color: #5F4027;
}

.cart-body .item-subtitle {
    color: #5F4027;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 0.4px;
    font-weight: 300;
}

.cart-body .item-body {
    color: #5F4027;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
}

.cart-body .qty-box {
    border: 1px solid #5f402743;
}

.cart-message {
    color: #5F4027;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    letter-spacing: 0.4px;
    font-weight: 300;
}

.cart-toast {
    background-color: #f1f1ee;
    color: #5F4027;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    letter-spacing: 0.4px;
    /* font-weight: 300; */
}

.cart-toast .toast-div {
    border-left: 2px solid #5F4027;
}

/* --- Footer --- */
.footer {
    background-color: #28411F;
}

.footer-content {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 1.6;
    font-weight: 300;
    padding: 80px 0;
    margin: 0 80px;
}

.footer-title {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1.4px;
}

.footer-section {
    width: 70%;
}

.footer-link:hover {
    cursor: pointer;
}

/* if width is 992px or smaller */
@media only screen and (max-width: 992px) {
    .footer-section {
        width: 100%;
    }

    .footer-content {
        margin: 0 28px;
        padding: 60px 0 20px;
    }
}

/* if width is 768px or larger */
@media screen and (min-width: 768px) {
    .header-content .short-text {
        background-position: 10% 90%;
    }
}

/* if width is 448px or smaller */
@media only screen and (max-width: 448px) {
    .header-content .cta.login {
        padding: 30px 28px 40px;
    }
}

/* if height is more than 768px */
@media screen and (min-height: 768px) {
    .login-page.bg,
    .login.header-content {
        height: 100vh;
    }
}

/* if height is more than 1024px */
@media only screen and (min-height: 1024px) {
    .header-content .cta.login {
        margin-top: 120px;
    }
}
